@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');



.App {
  font-family: 'Inter', sans-serif;
  text-align: center;
  padding: 0 48px 0 48px;

  --main-bg-color: #FAFAFA;
  --secondary-bg-color: #E6E6E5;
  --main-text-color: #180202;
  --legited-light-green: #259F87;
  --legited-dark-green: #006340;

  min-height: calc(100svh - 18.5rem);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.user{
  background-color: red;
}


/* Dodaj odpowiednie style dla klasy App */
.App {
}

/* Dodaj styl dla przycisków */



/* Dodaj styl dla linków */
.Link {
  text-decoration: none;
}


/* input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* Dodaj styl dla listy użytkowników */
.user {
  font-weight: bold;
  color: #27ae60;
}

.search-bar{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 2rem 0 2rem;
  height: 2.7rem;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  border: 1px solid var(--secondary-bg-color);
  /* border-radius: 0.5rem; */
  font-size: 25px;
  font-size: 18px;
  font-weight: 400;
}

.search-bar input{
  width: 100%;
  padding: 0 15px 0 15px;
  height: 100%;
}

.found-users{
  background-color: #fff;
  border: 1px solid var(--secondary-bg-color);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: bisque; */
  overflow-y: scroll;
  z-index: 2;
  max-height: 20rem;
  padding: 0 0.5rem 0 0.5rem
}

.found-user{
  padding: 0.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid var(--secondary-bg-color);
  color: var(--main-text-color);
}

.found-user:hover{
  background-color: #ededed70;
}

.search-bar input:focus .search-bar{
  outline: 1px solid var(--main-text-color);
}

.search-bar input::placeholder{
  font-size: 18px;
  color: var(--main-text-color);
}

.central-page{
  margin-top: 2.5rem;
  display: flex;
  gap: 2rem;
  min-height: calc(100svh - 7.5rem);
  padding: 0 48px 0 48px;
  /* margin-bottom: 2rem; */
  /* max-height: calc(100svh - 7.5rem); */
  /* margin-bottom: 5rem; */
  /* height: 40rem; */
}

aside{
  position: relative;
  width: 20rem;
  display: flex;
  flex-direction: column;
  max-height: 40rem;
  padding: 0 20px 0 20px;
  gap: 1rem;

  border-right: 1px solid var(--secondary-bg-color);

  /* background-color: var(--secondary-bg-color) */
}

/* aside::after{
  position: absolute;
  right: 0;
  content: " ";
  height: 100%;
  width:2px;
  background-color: var(--secondary-bg-color) ;
} */


.ranking-title{
  font-weight: 700;
  font-size: 20px;
}

.ranking-card{
  display: flex;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  border: solid 3px var(--secondary-bg-color);
  background-color: var(--secondary-bg-color);
  height: 5rem;
  border-radius: 0.8rem;
  padding: 5px;
  gap: 1rem;
  margin: 0px 1rem 0 1rem;

  box-sizing: border-box;
  transition: 0.4s;
}

.ranking-card:hover{
  scale: 1.02;
}

.card-1{
  border: solid 2px hsla(42, 100%, 62%, 0.7);

}

.card-2{
  border: solid 2px  hsla(258, 7%, 72%, 0.7);

}

.card-3{
  border: solid 2px  hsla(27, 36%, 56%, 0.7);

}


.register-info{
  font-weight: 600;
  font-size: 18px;
  color: var(--main-text-color);
}



.register-time{
  font-size: 15px;
  color: #3a3a3a;
}



.profile-container{
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 100%;
  flex: 1;
  padding-right: 2rem;
}

.user-info{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.settings-btn{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  gap: 1rem;
  padding: 7px;
  color: var(--main-text-color);
  border: 1px solid var(--main-text-color);
  border-radius: 5px;
  transition: 0.3s;

}

.settings-btn:hover{
  color: var(--main-bg-color);
  background-color: var(--main-text-color);
}



.user-about{
  margin-top: 1rem;
  font-weight: 600;
}

.profile-description{
  margin-left: 5rem;
}

h1{
  font-size: 60px;
}

.user-nickname{
  color: var(--legited-dark-green);
}

.user-items-title{
  font-weight: 700;
  font-size: 25px;
  margin: 2rem 0 1rem 0;
}

.item-counter{
  margin: 1rem 0 1rem 0;
}

.items-container{
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem; */

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 1rem;
  
}


.item{
  /* height: 9rem; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 23rem; */
  border: 1px solid var(--secondary-bg-color);
  background-color: white;
  /* background-color: var(--secondary-bg-color); */
  padding-bottom: 1rem;
  overflow: hidden;
}

.item:hover .item-hover-button{
  transform: translateY(0);
}

.item-hover-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: rgba(209, 209, 209, 0.61); */
  background-color: #259f871a;
  backdrop-filter: blur(5px);  position: absolute;
  transform: translateY(-100%);
  transition: 0.5s;
}


.trade-item-button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--legited-dark-green);
  color: var(--main-bg-color);
  height: 2.7rem;
  /* width: 8.3rem; */
  border-radius: 0.8rem;
  padding: 4px 8px 4px 8px;
  transition: 0.4s;
  cursor: pointer;
}


.item .image{

}

.item img{
  height: 140px;
  /* width: 140px; */
  width: auto;
  max-width: 70/140;
  
}

.item .item-name{
  font-weight: 500;
}

.item-registered{
  color: var(--legited-light-green);
}

.item .register-date{
  color: var(--main-text-color);
}

.avatar-container{
  height: 4rem;
  width: 4rem;
  
}

.login-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-root{
  display: flex;
  flex-direction: column;
  width: 25rem;
  padding: 1rem;
  border: 1px solid var(--secondary-bg-color);
  margin-top: 1rem;
  background-color: #fff;

}

.login-trigger{
  font-family: inherit;
  /* background-color: white; */
  padding: 0 20px;
  height: 45px;
  flex: 1;  
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 1;
  user-select: none;
  box-sizing: border-box;
}

.login-tab{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

}

.login-tab form{
  display: flex;
  flex-direction: column;
  width: 80%;
}

.login-tab form input{
  height: 2.7rem;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--secondary-bg-color);
  padding: 5px;
}

.login-tab form button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  height: 2.7rem;
  width: 100%;
  border-radius: 0.3rem;
  transition: 0.4s;
  box-sizing: border-box;
  margin: 1.3rem 0 0.5rem 0;
  cursor: pointer;
}

.terms{
  font-size: 9px;
  color:#959595;
}

.terms-link{
  font-weight: 700;
  color: var(--main-text-color);
}

.input-title{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  margin: 1rem 0 0.3rem 0;

}


.input-title p{
  font-size: 0.8rem;

}

.required-alert{
  color: #EE374A;
  font-weight: bold;
}

.hidden{
  display: none;
}

.login-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--secondary-bg-color);
  background-color: #fff;

}

.logo img{
  height: 4rem;

}

.monogram{
  display:none;
}

.burger{
  display: none;
  text-align: right;
}



.login-switch-tab{
  text-decoration: underline;
  color: var(--legited-light-green);
  cursor: pointer;
}

.login-form-footer-text{
  color: var(--main-text-color);
  font-size: 12px;
}


.error-card{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border: 2px solid #e5484d;
  background-color: #e38c8f27;
  font-size: 12px;
  color: #3a3a3a;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 0
  .3rem;
}


.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0px 48px 0px 48px;
  min-height: calc(100svh - 5rem);
}

.settings-container{
  align-items: center;
  width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid var(--secondary-bg-color);
  padding: 1rem;

}

.settings .error-card{
  height: 2.7rem;
  margin-top: 1rem;
  border-radius: 0;
}

.success-card{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    border: 2px solid var(--legited-dark-green);
    background-color: rgba(81, 167, 81, 0.27);
    font-size: 12px;
    color: #3a3a3a;
    box-sizing: border-box;
    padding: 1rem;
    height: 2.7rem;
}

.change-nickname{
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 14rem;
}

.change-nickname p{
  font-size: 0.8rem;
  margin: 0.3rem 0 0.3rem 0;
}

.upload-form{
  width: 9rem;
}

.avatar-preview-container{
  position: relative;
  height: 9rem;
}

.avatar-preview{
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--legited-light-green);
}

.choose-avatar-btn{
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background-color: #259f87a6;
  color: var(--main-text-color);
  border-radius: 50%;
  opacity: 0;
}

.avatar-preview-container:hover .choose-avatar-btn{
  opacity: 1;
  backdrop-filter: blur(5px);
}

.settings-save-btn{
  cursor: pointer;
  margin-top: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--main-text-color); */
  background-color: var(--legited-dark-green);
  color: var(--main-bg-color);
  height: 2.7rem;
  width: 100%;
  border-radius: 0.3rem;
  transition: 0.4s;
}

.nickname-input{
  font-family: 'Inter', sans-serif;
  height: 2.7rem;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--secondary-bg-color);
  padding: 5px;
  resize: vertical;
}

/* .border-success{
  box-shadow: 0px 0px 3px 0px var(--legited-dark-green);

  border: 2px solid var(--legited-dark-green);

} */

.welcomer{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 40rem;
  flex: 1 1;
  color: var(--main-text-color);
}


.welcomer::after{
  padding: 1rem;
  content: '';
  position: absolute;
  background-image: url('../background.png');
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* background-position: -176%; */
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.2;
}

.welcomer h1{
  margin-top: 6rem;
}

.welcomer p{
  position: relative;
  font-size: 23px;
  font-weight: 500;
  z-index: 1;
}

.welcomer span{
  color: var(--legited-light-green);
}

.admin-panel{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  /* background-color: #fff; */
  /* display: flex;
  flex-wrap: wrap; */

}

.item-register-form{
  padding: 1rem;
  background-color: #fff;
  width: 30rem;
  border: 1px solid var(--secondary-bg-color);
  margin-top: 1rem;
}



.item-register-form input{
  height: 2.7rem;
  background-color: transparent;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  background-color: var(--main-bg-color);
  border: 1px solid var(--secondary-bg-color);
  padding: 5px;
}

.item-register-form button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  height: 2.7rem;
  width: 100%;
  border-radius: 0.3rem;
  transition: 0.4s;
  box-sizing: border-box;
  margin: 1.3rem 0 0.5rem 0;
  cursor: pointer;
}



.item-register-form span{
  font-size: 0.8rem;
}


.register-form-title{
  color: var(--main-text-color);
  height: 2rem;
  box-shadow: inset 0 -1px 0 0 var(--legited-light-green), 0 1px 0 0 var(--legited-light-green);
  margin-bottom: 1rem;
}

.found-items{
    background-color: #fff;
    border: 1px solid var(--secondary-bg-color);

    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: bisque; */
    overflow-y: scroll;
    max-height: 20rem;
    padding: 0 0.5rem 0 0.5rem;
}

.found-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary-bg-color);

}

.found-item button{
  background-color: var(--green-4);
  color: var(--green-11);
  flex: 1 1;
  text-align: right;
  cursor: pointer;
  max-width: 6rem;
  margin: 0.5rem 0 0.5rem 0;
}

.pre-list{
  width: 100%;
  background-color: #259F87;
  position: relative;
}

.items-table{
  width: 70rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.table-row{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0.5rem 0;
  background-color: rgb(217 255 217 / 14%);
  border-bottom: 1px solid var(--legited-dark-green);
}

.table-row:hover{
  background-color: rgb(217 255 217 /70%);

}



td{
  text-align: center;
  flex: 1;
  /* width: 25%; */
}

.id-cell{
  flex: 2;
}


.not-found{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100svh - 5rem);
  width: 100%;
  padding-bottom: 5rem;
  gap: 2rem;
}

.not-found img{
  height: 300px;
  width: auto;
}

.not-found h1{
  color: var(--legited-light-green);
}

.not-found p{
  font-weight: 600;
  font-size: 30px;
}

@media only screen and (max-width: 1100px) {


  .settings-btn{
    justify-content: flex-start;
    flex: none;
    margin-left: 0px;
    gap: 0.5rem;
  }

}

@media only screen and (max-width: 810px) {


  nav{
    position: relative;
  }

  Swiper{
    display: none;
  }


  .burger{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 5rem;
    justify-content: center;
    align-items: flex-end;
  }

  .burger span{
    display: block;
    height: 1px;
    width: 2rem;
    background-color: var(--legited-dark-green);
  }

  .settings{
    gap: 1rem;

  }

  .search-bar{
    flex: none;
  }

  .settings h1{
    font-size: 35px;
  }
  .central-page {
    flex-direction: column;
  }

  .profile-container{
    padding-right: 0;
  }

  aside{
    width: 100%;
    height: 5rem;
    flex-direction: row;
    padding: 0;
  }

  nav .logo img:first-child{
    display: none;
  }

  .login-page .login-nav img{
    display: block;
  }

  .monogram{
    display: block;
  }

  .nav-links{
    position: absolute;
    flex-direction: column;
    top: 5rem;
    left: 0;
    width: 100%;
    gap: 1rem;
    padding-top: 1rem;
    /* display: none; */
    background-color: var(--main-bg-color);
    z-index: 2;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary-bg-color);
  }


  .disabled{
    display: none;
  }

  .rest{
    flex-direction: column;
  }


  .settings-text{
    display: block;
  }
}


@media only screen and (max-width: 550px) {

  .central-page{
    padding: 0 15px 0 15px;

  }

  .user-info h1{
    font-size: 30px;
  }

  .not-found{
    padding: 0 1rem 0 1rem;
  }


  .not-found img{
    height: 200px;
    width: auto;
  }
  
  .not-found p{
    font-weight: 600;
    font-size: 20px;
  }

}