/* reset */
button {
    all: unset;
  }

.sort-menu{
display: flex;
gap: 0.5rem;
height: 3rem;
}


.SelectTrigger {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 13px;
    line-height: 1;
    height: 2rem;
    gap: 5px;
    background-color: #fff;
    border: 1px solid var(--secondary-bg-color);
    /* box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2); */
    color: var(--main-text-color);
    cursor: pointer;
}




.SelectTrigger:hover {
    background-color: var(--main-text-color);
    color: var(--secondary-bg-color);

}

.SelectTrigger[data-placeholder] {
color: var(--violet-9);
}

.SelectIcon {
color: var(--main-text-color);;
}

.SelectTrigger:hover .SelectIcon{
    color: var(--main-btn-color);
}

.SelectContent {
overflow: hidden;
background-color: var(--main-btn-color);
border-radius: 6px;
box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
background-color: #fff;
padding: 5px;
}

.SelectItem {
font-size: 13px;
line-height: 1;
color: var(--main-text-color);
border-radius: 3px;
display: flex;
align-items: center;
height: 25px;
padding: 0 35px 0 25px;
position: relative;
user-select: none;
}
.SelectItem[data-disabled] {
color: var(--mauve-8);
pointer-events: none;
}
.SelectItem[data-highlighted] {
outline: none;
background-color: var(--main-text-color);
color: var(--secondary-bg-color);
}

.SelectLabel {
padding: 0 25px;
font-size: 12px;
line-height: 25px;
color: var(--mauve-11);
}

.SelectSeparator {
height: 1px;
background-color: var(--violet-6);
margin: 5px;
}

.SelectItemIndicator {
position: absolute;
left: 0;
width: 25px;
display: inline-flex;
align-items: center;
justify-content: center;
}

.SelectScrollButton {
display: flex;
align-items: center;
justify-content: center;
height: 25px;
background-color: white;
color: var(--violet-11);
cursor: default;
}



.table-sort{
display: flex;
gap: 1rem;
}

.order-sort {
display: inline-flex;
align-items: center;
justify-content: center;
border-radius: 4px;
padding: 0 15px;
font-size: 13px;
line-height: 1;
height: 2rem;
gap: 5px;
background-color: #fff;
color: var(--main-text-color);
border: 1px solid var(--secondary-bg-color);
cursor: pointer;
width: 6rem;

}

.order-sort:hover{
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}


.sort-menu input{
    background-color: #fff;
    border: 1px solid var(--secondary-bg-color);
    height: 2rem;
    padding: 0 0.5rem 0 0.5rem;
    font-size: 13px;
}

.sort-menu input::placeholder{
    font-size: 13px;
}