.kupka{
    /* height: 3rem; */
}

.kupka img{
    height: 3rem;
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: unset !important;
    display: inline-block;
    mask-size: contain;
    -webkit-mask-size: contain;
       
  }