.privacy-page{
    padding: 4rem 12rem 0 12rem;
    font-family: 'Inter', sans-serif;
    color: var(--main-text-color);
    --main-bg-color: #FAFAFA;
    --secondary-bg-color: #E6E6E5;
    --main-text-color: #180202;
    --legited-light-green: #259F87;
    --legited-dark-green: #006340;
}

.privacy-page h1{
    margin-bottom: 2rem;
}

.privacy-page h2{
    margin: 1rem 0 1rem 0;
}

.privacy-page ol{
    padding-left: 1rem;
}

.privacy-page ul{
    list-style-type: lower-alpha;
    padding-left: 2rem;
}

.privacy-page li{
    line-height: 2rem;
}

@media only screen and (max-width: 550px) {

    .privacy-page{
      padding: 0 15px 0 15px;
  
    }
}